body {
margin:0 auto 0 auto;
text-align: center;
font-family: "raleway", sans-serif;
background-color:#413c33
}

div {
border-radius: 50px;
padding-top:25px;
padding-bottom: 25px;
background: #acabac;
}

h1 {
margin:0 auto 0 auto;
font-family: 'Gruppo', cursive;
font-size:550%;
font-weight: bold;
}

h2 {
margin:10px auto 10px auto;
font-family: 'Gruppo', cursive;
font-size:2.5rem;
color:#3b272c;
}

h3 {
margin:0 auto 0 auto;
font-family: 'Gruppo', cursive;
font-size:200%;
}

p {
line-height:2;
}

hr {
border-style:none;
border-top: 20px dotted #c8d1c5;
margin-bottom: 20px;
margin-top: 20px;
width:10%;
}

a {
color:#7f7976;
margin:auto 10px auto 10px;
text-decoration: none;
}

.top_container {
padding-bottom: 100px;
}

.top_cloud {
position:absolute;
right:200px;
top:50px;
width: 120px;
height: auto;
}

.london {
position:relative;
top:70px;
margin-bottom: 50px;
margin-top: 10px;
}

.profile {
margin: auto auto auto auto;
width:75%;
height:200px;
text-align:left;
}

.my_photo{
  max-width: 20%;
  height: auto;
  border-radius: 50px;
  float:left;
  margin:auto 30px auto 15px;
}

.skill-row {
background: #acabac;
width:70%;
height:170px;
margin:50px auto 50px auto;
text-align:left;
}

.skills_image{
width: 25%;
height: auto;
float:left;
margin-right:30px;
}


.skills_image_right{
width: 25%;
height: auto;
float:right;
margin-left:30px;
}


.btn {
  background: #7f7976;
  background-image: -webkit-linear-gradient(top, #7f7976, #4b3d3f);
  background-image: -moz-linear-gradient(top, #7f7976, #4b3d3f);
  background-image: -ms-linear-gradient(top, #7f7976, #4b3d3f);
  background-image: -o-linear-gradient(top, #7f7976, #4b3d3f);
  background-image: linear-gradient(to bottom, #7f7976, #4b3d3f);
  -webkit-border-radius: 15;
  -moz-border-radius: 15;
  border-radius: 15px;
  font-family: 'Gruppo', cursive;
  color: #c8d1c5;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #4b3d3f;
  background-image: -webkit-linear-gradient(top, #4b3d3f, #7f7976);
  background-image: -moz-linear-gradient(top, #4b3d3f, #7f7976);
  background-image: -ms-linear-gradient(top, #4b3d3f, #7f7976);
  background-image: -o-linear-gradient(top, #4b3d3f, #7f7976);
  background-image: linear-gradient(to bottom, #4b3d3f, #7f7976);
  text-decoration: none;
}


.bottom-container {
background: #413c33;
}